.about-us-section {
    display: none;
    @media screen and (min-width: 1200px) {
        display: block;
        padding-top: 0;
    }
}
.about-us-list {
    @extend %list;
    display: flex;
}
.about-us-list__item {
    position: relative;
    &:not(:last-child){
    margin-right: 30px;
    }
}
.about-us-list__desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: $primary-white-color;
    background-color: rgba(47, 48, 58, 0.8);
}
.about-us-list__img {
    display: block;
    max-width: 100%;
    height: auto;
}



// .about-us-section {
//     padding-top: 0;
// }
// .about-us-list {
//     @extend %list;
//     display: flex;
// }
// .about-us-list__item {
//     position: relative;
//     &:not(:last-child){
//     margin-right: 30px;
//     }
// }
// .about-us-list__desc {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//     padding: 27px 0;
//     text-align: center;
//     text-transform: uppercase;
//     font-weight: 700;
//     color: $primary-white-color;
//     background-color: rgba(47, 48, 58, 0.8);
// }
// .about-us-list__img {
//     display: block;
//     max-width: 100%;
//     height: auto;
// }