.hero {
    margin: 0 auto;
    padding: 118px 0px;
    text-align: center;
    background-size: cover;
    background-color: $secondary-background-color;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img-portrait.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-img-portrait@2x.jpg);
    }
    @media screen and (min-width: 480px){
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 118px 204px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img-tablet.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-img-tablet@2x.jpg);
        }
    }
    @media screen and (min-width: 1200px) {
        width: auto;
        max-width: 1600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-img-desctop.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-img-desctop@2x.jpg);
        }
    }
}
.hero__title {
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
    @media screen and (min-width: 1200px){
    max-width: 695px;
    font-size: 44px;
    line-height: 1.36;
    }
}
.hero__container{
    @media screen and (max-width: 767px) {
        overflow: scroll;
    }
    @media screen and (min-width: 768px) {
        width: auto;
        padding: 0;
    }
}


















// .hero {
//     margin: 0 auto;
//     max-width: 1600px;
//     text-align: center;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     background-color: $secondary-background-color;
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(../images/hero-img.jpg);
// }

// .hero__title {
//     margin: 0 auto 30px;
//     max-width: 695px;
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: $primary-white-color;
// }