// .hero {
//     margin: 0 auto;
//     max-width: 1600px;
//     text-align: center;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     background-color: $secondary-background-color;
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(../images/hero-img.jpg);
// }

// .hero__title {
//     margin: 0 auto 30px;
//     max-width: 695px;
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: $primary-white-color;
// }