.page-header {
    background-color:$primary-white-color;
}
.menu-button{
    margin-left: auto;
    padding: 10px 0;
    border: none;
    background-color: inherit;

}
.page-header__container {
    display: flex;
    align-items: center;
}
.menu-container{
    display: none;
}


// .page-header__container {
//     display: flex;
//     align-items: center;
// }
// .site-nav {
//     display: flex;
//     align-items: center;
// }
// .site-nav__list {
//     @extend %list;
//     display: flex;
// }
// .site-nav__item:not(:last-child) {
//     margin-right: 50px;
// }
// .site-nav__link {
//     @extend %link;
//     display: inline-block;
//     padding: 32px 0;
//     font-weight: 500;
//     letter-spacing: 0.02em;
//     color: inherit;
//     transition: color 250ms $primary-transition;
//     &:hover, &:focus{
//         color: $accent-color;
//     }
// }


// .site-nav__link--current {
//     position: relative;
//     color: $accent-color;
//     &:after{
//         position: absolute;
//         bottom: -1px;
//         left: 0;
//         content: '';
//         width: 100%;
//         height: 4px;
//         border-radius: 2px;
//         background-color: $accent-color;
//     }
// }
// .contacts {
//     @extend %list;
//     display: flex;
//     margin-left: auto;
// }
// .contacts__item:not(:last-child) {
//     margin-right: 50px;
// }
// .contacts__link {
//     @extend %link;
//     display: inline-flex;
//     align-items: center;
//     padding: 32px 0;
//     font-weight: 500;
//     letter-spacing: 0.02em;
//     color: $secondary-text-color;
//     transition: color 250ms $primary-transition;
//     &:hover, &:focus{
//         color: $accent-color;
//     }
// }
// .contacts__icon {
//     margin-right: 10px;
//     fill: currentColor;
// }













// .page-header {
//     background-color:$primary-white-color ;
//     border-bottom: 1px solid #ececec;
// }

// .page-header__container {
//     display: flex;
//     align-items: center;
// }
// .site-nav {
//     display: flex;
//     align-items: center;
// }
// .site-nav__list {
//     @extend %list;
//     display: flex;
// }
// .site-nav__item:not(:last-child) {
//     margin-right: 50px;
// }
// .site-nav__link {
//     @extend %link;
//     display: inline-block;
//     padding: 32px 0;
//     font-weight: 500;
//     letter-spacing: 0.02em;
//     color: inherit;
//     transition: color 250ms $primary-transition;
//     &:hover, &:focus{
//         color: $accent-color;
//     }
// }


// .site-nav__link--current {
//     position: relative;
//     color: $accent-color;
//     &:after{
//         position: absolute;
//         bottom: -1px;
//         left: 0;
//         content: '';
//         width: 100%;
//         height: 4px;
//         border-radius: 2px;
//         background-color: $accent-color;
//     }
// }
// .contacts {
//     @extend %list;
//     display: flex;
//     margin-left: auto;
// }
// .contacts__item:not(:last-child) {
//     margin-right: 50px;
// }
// .contacts__link {
//     @extend %link;
//     display: inline-flex;
//     align-items: center;
//     padding: 32px 0;
//     font-weight: 500;
//     letter-spacing: 0.02em;
//     color: $secondary-text-color;
//     transition: color 250ms $primary-transition;
//     &:hover, &:focus{
//         color: $accent-color;
//     }
// }
// .contacts__icon {
//     margin-right: 10px;
//     fill: currentColor;
// }