// .portfolio__section{
//     background-color: $primary-white-color;
// }
// .filter-list {
//     @extend %list;
//     display: flex;
//     justify-content: center;
//     margin-bottom: 50px;
// }
// .filter-list__item:not(:last-child) {
//     margin-right: 8px;
// }
// .filter-list__button {
//     padding: 6px 22px;
//     border: 0;
//     border-radius: 4px;
//     font-weight: 500;
//     line-height: 1.62;
//     letter-spacing: 0.03em;
//     color: $primary-text-color;
//     background-color: $primary-background-color;
//     box-shadow: none;
//     transition: color 250ms $primary-transition,
//     background-color 250ms $primary-transition,
//     box-shadow 250ms $primary-transition;
//     &:hover, &:focus{
//     color: $primary-white-color;
//     background-color: $accent-color;
//     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
//     0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
//     }
// }
// .examples-list {
//     @extend %list;
//     display: flex;
//     flex-wrap: wrap;
// }
// .examples-list__item {
//     max-width: 370px;
//     border: 1px solid #eeeeee;
//     transition: box-shadow 250ms $primary-transition;
//     &:hover{
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
//     0px 4px 4px rgba(0, 0, 0, 0.06),
//     1px 4px 6px rgba(0, 0, 0, 0.16);
//     }
//     &:hover .examples-list__overlay{
//     transform: translateY(0);
//     }
//     &:not(:nth-child(3n)){
//     margin-right: 30px;
//     }
//     &:not(:nth-last-child(-n + 3)){
//     margin-bottom: 30px;
//     }
// }
// .examples-list__link{
//     @extend %link;
// }
// .examples-list__thumb {
//     position: relative;
//     overflow: hidden;
// }
// .examples-list__img {
//     display: block;
// }
// .examples-list__overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     transform: translateY(100%);
//     padding: 63px 24px;
//     font-size: 18px;
//     line-height: 1.56;
//     color: $primary-white-color;
//     background-color: rgba(33, 150, 243, 0.9);
//     transition: transform 250ms $primary-transition;
// }
// .product {
//     padding: 20px 24px;
// }

// .product__title {
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//     color: $primary-text-color;
// }

// .product__text {
//     font-size: 16px;
//     line-height: 1.87;
//     color: $secondary-text-color;
// }