.social-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social-list__item:not(:last-child){
    margin-right: 10px;
}
.social-list__link {
    @extend %link;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    transition: color 250ms $primary-transition,
    background-color 250ms $primary-transition;
    &:hover, &:focus{
    background-color: $accent-color;
    color: $primary-white-color;
    }
}
.social-list__icon {
    fill: currentColor;
}