h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    background-color: $primary-white-color;
    color: $primary-text-color;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width: 480px) {
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
}
.section {
    padding: 60px 0;
}
.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
}











// .container {
//     width: 1200px;
//     padding: 0 15px;
//     margin: 0 auto;
// }
// .section {
//     padding: 94px 0;
// }

// .section-title {
//     margin-bottom: 50px;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.17;
//     text-align: center;
// }
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}